@{
    ViewData["Title"] = "Admin Panel";
}

<div class="container">
    <div class="row">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="row">
        <div class="col-md-4">
            Welcome
        </div>
    </div>
</div>

