@model DevInterview.AdminPanel.Web.Models.UpdateTopicViewModel
@{
    ViewData["Title"] = "Update Topic";
}

<div class="card">
    <div class="card-header">
        Create Topic
    </div>
    <div class="card-body">
        <form asp-action="Update" asp-controller="Topics" method="post">
            <input asp-for="Topic.TopicId" type="hidden" class="form-control" value="@Model.Topic.TopicId" />
            <div class="mb-3">
                <label class="form-label">Role</label>
                <select class="form-control" asp-for="SelectedRoleId">
                    @foreach (var item in Model.RoleList)
                    {
                        <option value="@item.RoleId" data="@item.Name">@item.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input asp-for="Topic.Name" type="text" class="form-control">
                <span asp-validation-for="Topic.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea asp-for="Topic.Description" class="form-control"></textarea>
                <span asp-validation-for="Topic.Description" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="Index" asp-controller="Topics" class="btn btn-warning">Back</a>
        </form>
    </div>
</div>