@model DevInterview.AdminPanel.Web.Models.CreateRoleViewModel

@{
    ViewData["Title"] = "Create Role";
}

<div class="card">
    <div class="card-header">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <form asp-action="Create" asp-controller="Roles" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input asp-for="Name" value="@Model.Name" type="text" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">Image</label>
                <input type="file" name="image" accept="image/*" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
            <a asp-action="Index" asp-controller="Roles" class="btn btn-warning">Back</a>
        </form>
    </div>
</div>