@model DevInterview.AdminPanel.Web.Models.CreateTopicViewModel
@{
    ViewData["Title"] = "Create Topic";
}

<div class="card">
    <div class="card-header">
        Create Topic
    </div>
    <div class="card-body">
        <form asp-action="Create" asp-controller="Topics" method="post">
            <div class="mb-3">
                <label class="form-label">Role</label>
                <select class="form-control" asp-for="SelectedRoleId">
                    @foreach (var role in Model.RoleList)
                    {
                        <option value="@role.RoleId" data="@role.Name">@role.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input asp-for="Topic.Name" type="text" class="form-control">
                <span asp-validation-for="Topic.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea asp-for="Topic.Description" class="form-control"></textarea>
                <span asp-validation-for="Topic.Description" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="Index" asp-controller="Topics" class="btn btn-warning">Back</a>
        </form>
    </div>
</div>