@{
    ViewData["Title"] = "Topics";
}

<div class="card">
    <div class="card-header">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <a asp-action="Create" asp-controller="Topics" class="btn btn-primary">Add Topic</a>
        <hr />

    </div>
</div>
