<ng-template #divLoading>
  <div class="center-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<button mat-button color="warn" (click)="goBack()">Back</button>

<div *ngIf="topics; else divLoading" class="grid p-2">
  <mat-card class="col-12">
    <mat-card-header>
      <mat-card-title>Topics</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <ul class="topics">
        <li *ngFor="let topic of topics">
          <button mat-fab extended color="primary">{{ topic.name }}</button>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
