@model DevInterview.AdminPanel.Web.Models.CreateQuestionViewModel
@{
    ViewData["Title"] = "Create Question";
}

<div class="card">
    <div class="card-header">
        Create Question
    </div>
    <div class="card-body">
        <form asp-action="Create" asp-controller="Questions" method="post">
            <div class="mb-3">
                <label class="form-label">Subject</label>
                <select class="form-control" asp-for="SelectedSubjectId" onchange="FillTopics(this)">
                    <option value="-1">-- Select a Subject --</option>
                    @foreach (var subject in Model.SubjectList)
                    {
                        <option value="@subject.Id" data="@subject.Name">@subject.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Topic</label>
                <select id="topicId" class="form-select" asp-for="SelectedTopicId">
                    <option value="-1">-- Select a Topic --</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Question</label>
                <input asp-for="Question.QuestionText" type="text" class="form-control">
                <span asp-validation-for="Question.QuestionText" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Answer</label>
                <textarea asp-for="Question.AnswerText" class="form-control"></textarea>
                <span asp-validation-for="Question.AnswerText" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                <div class="col text-end">
                    <a asp-action="Index" asp-controller="Questions" class="btn btn-warning">Cancel</a>
                </div>
            </div>

        </form>
    </div>
</div>

<input type="hidden" id="subjectIdHidden" />
<input type="hidden" id="topicIdHidden" />

<script>
    $(document).ready(function () {

    });

    function FillTopics(listSubjectCtrl) {
        var topicList = $("#topicId");
        topicList.empty();
        topicList.append('<option value="-1">-- Select a Topic --</option>');

        var selectedSubject = listSubjectCtrl.options[listSubjectCtrl.selectedIndex].value;
        $("#subjectIdHidden").val(selectedSubject);

        if (selectedSubject != null && selectedSubject != '') {
            $.getJSON("/Topics/GetTopicsBySubject", { subjectId: selectedSubject }, function (topics) {
                if (topics != null && !jQuery.isEmptyObject(topics)) {
                    $.each(topics, function (index, topic) {
                        topicList.append($('<option/>', {
                            value: topic.value,
                            text: topic.text
                        }));
                    });
                }
            });
        }
        return;
    }

    function FillQuestions(listTopicCtrl) {
        var dataTable = $("#dataTable tbody");
        dataTable.empty();

        var subjectId = document.getElementById("subjectIdHidden").value;
        var selectedTopicId = listTopicCtrl.options[listTopicCtrl.selectedIndex].value;
        $("#topicIdHidden").val(selectedTopicId);


        $.getJSON("/Questions/GetQuestionsByTopic", { topicId: selectedTopicId }, function (data) {
            if (data != null && data.length > 0) {
                $.each(data, function (index, item) {
                    dataTable.append('<tr><td>' + item.questionText + '</td><td><a class="btn btn-sm btn-outline-dark" href="/Questions/Update?questionId=' + item.id + '&subjectId=' + subjectId + '">Edit</a> <a class="btn btn-sm btn-outline-danger" onclick="Confirm(\'' + item.id + '\')">Delete</a></td></tr>');
                });
            } else {
                dataTable.append('<tr><td colspan="2">No data available</td></tr>');
            }
        });
    }

</script>