@model DevInterview.AdminPanel.Web.Models.RolesViewModel

@{
    ViewData["Title"] = "Roles";
}
<div class="container">
    <div class="row">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="row">
        <div class="col-xs-3">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddRoleModal">
                Add Role
            </button>
        </div>
    </div>
</div>

<table class='table'>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model.RoleList)
        {
            <tr>
                <td>@role.RoleId</td>
                <td>@role.Name</td>
                <td></td>
                <td>
                    <a class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#EditRoleModal">
                        Edit
                    </a>
                    <a class="btn btn-outline-danger" onclick="Confirm('@role.RoleId')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<input type="hidden" id="RoleId" />

<div class="modal fade" id="AddRoleModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Add Role</h3>
                <button type="button" class="close" data-bs-dismiss="modal">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="saveForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input asp-for="Role.Name" id="name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Image</label>
                        <input id="fileUpload"
                                type="file"
                                class="form-control"
                                name="file"
                                accept="image/*"
                                required />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnCancel" data-bs-dismiss="modal">Cancel</button>
                <button id="btnSave" class="btn btn-block btn-success">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteRoleModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Delete Role</h3>
                <button type="button" class="close" data-bs-dismiss="modal">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this Role?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnCancel" data-bs-dismiss="modal">Cancel</button>
                <button id="btnDelete" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#btnSave").click(function () {
            var fileinput = document.getElementById("fileUpload");
            var files = fileinput.files; //get files
            var name = document.getElementById("name");

            var formData = new FormData();
            formData.append("Name", name.value);

            for (var i = 0; i != files.length; i++) {
                formData.append("files", files[i]);
            }

            $.ajax({
                type: "POST",
                url: "/Roles/Create",
                data: formData,
                processData: false,
                contentType: false,
                success: function () {
                    window.location.href = "/Roles/Index"
                }
            });
        });

        $("#btnDelete").click(function () {
            var id = $("#RoleId").val();
            $.ajax({
                type: "POST",
                url: "/Roles/Delete",
                data: { id: id },
                success: function (result) {
                    if (result) {
                        $("#RoleId").val(null);
                        window.location.href = "/Roles/Index";
                    } else {
                        alert("Opps something wrong");
                    }
                }
            });
        });
    });

    var Confirm = function (id) {
        $("#RoleId").val(id);
        $("#deleteRoleModal").modal('show');
    }
</script>