@model DevInterview.AdminPanel.Web.Models.UpdateRoleViewModel

@{
    ViewData["Title"] = "Update Role";
}

<div class="card">
    <div class="card-header">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <form asp-action="Update" asp-controller="Roles" method="post">
            <input asp-for="RoleId" type="hidden" class="form-control" value="@Model.RoleId" />
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input asp-for="Name" value="@Model.Name" type="text" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-action="Index" asp-controller="Roles" class="btn btn-outline-dark">Back</a>
        </form>
    </div>
</div>